.pageControl {
  display: flex;
  flex-direction: column;
  padding: 6px;
  width: 100%;

  .tabButtons {
    display: flex;

    .tabButton {
      display: flex;
      box-sizing: border-box;
      position: relative;
      justify-items: space-around;
      white-space: nowrap;
      cursor: pointer;
      border-top: 1px solid #666666;
      border-left: 1px solid #666666;
      border-right: 1px solid #666666;
      padding: 6px 0px;

      &.active {
        background-color: darkblue;
        border-top: 2px solid white;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;
        padding: 6px 0px;

        span {
          border: 1px solid black;
          background-color: black;
          color: white;
        }
      }

      &:hover {
        background-color: #333333;
      }

      span.closeBtn {
        display: inline-block;
        line-height: 20px;
        border: 1px solid #a9a9a9;
        background-color: #a9a9a9;
        color: black;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 0px 3px;
        width: 20px;
        height: 20px;
        margin-top: 1px;
      }

      label {
        height: 22px;
        line-height: 22px;
        padding: 0 12px;
      }
    }
  }

  .tabSheet {
    display: none;
    &.active {
      display: flex;
    }
  }

  .tabContent {
    padding: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid #666666;
  }
}
