.serverTab {
    display: flex;
    width: 100%;
    flex-direction: column;

    .serverTabHead {
        display: flex;
        align-items: center;
        padding: 6px;
    }

    .responseWrapper {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #333333;
        text-align: left;

        .scrollWrapper {
            overflow: auto;
            border: 1px solid #666666;
            padding: 6px;
            display: flex;
            flex-direction: column;
            width: calc(100vw - 280px);
            max-width: calc(100vw - 280px);
            height: calc(100vh - 425px);
            max-height: calc(100vh - 425px);
        }
    }

    .serverRawBody {
        display: flex;
        flex-direction: column;

        span {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid white;
        }
    }

    textarea {
        width: 100%;
    }
}
