.btn {
    display: inline-flex;
    border: 1px solid blue;
    background-color: darkblue;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;

    &.framed {
        background-color: #333333;
    }

    &:hover {
        background-color: black;
        color: white;
    }
}
