.requestTab {
    display: flex;
    width: 100%;
    flex-direction: column;

    .requestTabHead {
        display: flex;
        padding: 6px;

        input {
            flex-grow: 1;
        }
    }

    .requestWrapper {
        text-align: left;
        overflow: auto;
        border: 1px solid #666666;
        padding: 6px;
        display: flex;
        flex-direction: column;
        width: calc(100vw - 280px);
        max-width: calc(100vw - 280px);
        height: calc(100vh - 425px);
        max-height: calc(100vh - 425px);
    }

    .requestRawBody {
        display: flex;
        flex-direction: column;

        textarea {
            width: 100%;
        }

        span {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid white;
        }

        .requestBody {
            display: flex;
            width: 100%;
            flex-direction: column;

        }
    }
}
