.requestTab {
    display: flex;
    width: 100%;
    flex-direction: column;

    .requestTabHead {
        display: flex;
        padding: 6px;

        input {
            flex-grow: 1;
        }
    }

    .requestWrapper {
        border-top: 1px solid #333333;
        text-align: left;
    }

    .requestRawBody {
        display: flex;
        flex-direction: column;

        span {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid white;
        }

        .requestBody {
            display: flex;
            width: 100%;
            flex-direction: column;

        }
    }
}
