.page {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .leftMenu {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    width: 200px;
    max-width: 200px;
    overflow: auto;
    padding: 6px;

    .buttonWrapper {
      padding: 8px;
    }

    table {
      border-collapse: collapse;
      border: 1px solid #999999;
      tr {
        &.active {
          background-color: #003274;
        }

        th {
          background-color: #0571ff;
          padding: 8px;
          font-weight: bold;
        }

        td {
          border: 1px solid #999999;
          padding: 6px;
          cursor: pointer;
          &:hover {
            color: #0571ff;
          }
        }
      }
    }
  }

  .pages {
    display: flex;
    flex-grow: 1;
  }

  .collectionList {

    border: none !important;

    tr {
      &:nth-child(odd) {
        background-color: #333333;
      }
      td {
        border: none !important;
        
      }
    }
  }
}
