.app {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  input, textarea, select {
    border: 1px solid #333333;
    background-color: #333333;
    color: white;
    border-radius: 3px;
    padding: 6px;
    margin: 0 12px;
  } 

  textarea {
    height: 150px;
    padding: 0;
  }
}
