.app {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  input, textarea, select {
    border: 1px solid #333333;
    background-color: #333333;
    color: white;
    padding: 6px;
    margin: 0 12px;
  } 

  textarea {
    height: 150px;
    padding: 0;
  }

  input {
        box-sizing: border-box;
        border: none !important;
        border-bottom: 1px solid white !important;
        background-color: black !important;
        
        &:focus {
            border-bottom: 2px solid blue !important;;
            outline: none;
          }
    }
}
